//COLORS
$brick-red: #981F24;
$burnt-orange: #DF5F18;
$chocolate-brown: #4E241E;
$snow: #FCF7F8;
$maximum-blue-green: #17BEBB;
$slate-black: #212928;
$warm-green:#283D3B;
$wheat: #EFDFBB;
$linen: #f3e9dc;