@import 'partials';

body {
  background-image: url('../images/background.png');
  background-attachment: fixed;
  padding: 0em;
  overflow: scroll;
}

h1 {
  font-size: 3em;
  margin-left: 1em;
}

h3 {
  color: $snow;
  font-size: 1.5em;
}

header {
  color: $snow;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 1em 0em 1em;
}

.page-container {
  display: flex;
}

nav {
  margin-top: 2em;
}

button {
  background: none;
  border: none;
  color: $snow;
  font-size: 1.5em;
}

.sign-in-or-out {
  font-size: 1.2em;
  margin: 3em;  
  
  button {
    margin-right: 2em;
  }
}

.icon {
  margin-top: 1em;
  width: 1em;
}

.home-page {
  color: $snow;
  display: flex;
  flex-direction:column;
  align-items: center;
  // width: 100%;
  margin: 0 auto;
  nav {
    display: flex;
    justify-content: space-around;
    width: 20%;
    
  }
  
  img {
    border-radius: 5%;
    width: 40%;
  }

  input {
    margin: 1em;
  }
}

.main-log-in {
  align-items: flex-end;
  background-color: $linen;
  border-radius: 5%;
  color: $slate-black;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1.5em;

  button {
    color: $slate-black;
    background-color: $wheat;
    border: 1px solid $slate-black;
    border-radius: 10%;
    font-size: 1em;
  }
}

.sign-in-pop-up {
  @extend .main-log-in;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .5);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  top: 40%;
  left: 40%;
  height: 6em;
  width: 10em;
  z-index: 3;
}

.booking-pop-up {
  @extend .sign-in-pop-up
}

.hidden {
  display: none;
}