@import 'partials';
h3{
  color: $slate-black;
}

.user-pane {
  background-color: $linen;
  border-radius: 5%;
  height: 35em;
  padding: 1em;
  width: 15em;
  font-size: .75em;
  margin-left: 3em;
  position: fixed;
  float: right;
  overflow: scroll;

  button {
    font-size: .8em;
    color: $linen;
    border: 1px solid;
    border-radius: 3%;
    background-color: $chocolate-brown;

  }
}

.selected {
  background-color: $warm-green;
  color: $linen;
  border-color: $linen
}


.user-search {
  display: flex;
}